# Configurações para favicon e ícones
<IfModule mod_headers.c>
  # Definir cabeçalhos para o favicon.ico
  <FilesMatch "favicon\.ico$">
    Header set Cache-Control "public, max-age=86400"
    Header set Content-Type "image/x-icon"
  </FilesMatch>
  
  # Definir cabeçalhos para apple-touch-icon.png
  <FilesMatch "apple-touch-icon(-.*)?\.png$">
    Header set Cache-Control "public, max-age=86400"
    Header set Content-Type "image/png"
  </FilesMatch>
</IfModule>

# Redirecionar solicitações de favicon ausentes para o favicon.ico
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^favicon\.([a-z0-9]+)$ /favicon.ico [L]
</IfModule>

# Forçar HTTPS
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# Configuração para PWA
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule> 